.polaroid-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.polaroid{
    @mixIn hover{
        animation: sway 1s; 
    }
}

@keyframes sway{
    0%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(3deg);
    }
    60%{
        transform: rotate(-3deg);
    }
    100%{
        transform:rotate(0deg);
    }

}

.polaroid{
    position: relative;
    width: 200px;
    height:auto;
    padding:10px;
    background:white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform .3s;
    border-bottom: 15px solid white;

}