.footer {
  width: 100%;
}

.inner {
  color: #ffd2c6;
  background-color: #015b01;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
  width: 100%;
  a {
    color: #ffd2c6;
  }
}
